body {
    background-color: blueviolet;
}
#main-div {
    width: 700px;
    height: 500px;
    padding:40px;
    background-color: aliceblue;
}
h1 {
    text-align: center;
}
p {
    font-size: 24px;
    line-height: 10px;
}
#results-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 700px;
}
#btn-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 0;
    color: white;
    box-shadow: 5px 5px gray;
    background-color: rgb(84, 116, 232)
}
#btn-container button:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px;
}
.play-again-btn {
    background-color: rgb(48, 123, 49);
}